<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE root [
  <!--Amend all details below IDE address is the EU address US users will need to change this -->
  <!ENTITY accessToken "a6e387f8-194c-45b3-bf1d-f45a91182893">
  <!ENTITY appId "7c2e6aa1-9b97-4119-b799-fb3d86a68083">
  <!ENTITY ide "https://graph-na02-useast1.api.smartthings.com:443">
]>
<config>
  <!--Optional Settings - Default Polling is 60 seconds-->
  <pingSettings
  checkInterval="30" c="the interval is in seconds"
  timeOut="1000" d="the interval is in milliseconds"
  debugLevel="1"
	/>
  <smartThingsEndpoints
		accessToken="&accessToken;"
    Online="&ide;/api/smartapps/installations/&appId;/statechanged/online"
		Offline="&ide;/api/smartapps/installations/&appId;/statechanged/offline"
	/>

  <!--Add All IP addresses or host names here - remove examples below -->
  <hostList>
    <item HOST="192.168.1.3" />
    <item HOST="192.168.1.4" />
    <item HOST="192.168.1.14" />
    <item HOST="192.168.1.16" />
    <item HOST="192.168.1.17" />
  </hostList>
</config>